@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

h1,h2 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


@layer utilities {
  .gradient-bg {
    background: linear-gradient(-45deg, #302b63, #048636, #0bc0aa);
  }
}

