@import "tailwindcss";
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}